# --- Core Computer Vision & Image Processing ---
opencv-python
Pillow
matplotlib
numpy
ultralytics

# --- Deep Learning (Here I'm using PyTorch) ---
torch
torchvision
torchaudio

# --- Data Handling & Notebooks ---
pandas
scikit-learn
notebook
tqdm
ipykernel

pycocotools #To process COCO annotation


albumentationsx[gui] #for Data Augmentation
